:root {
--font1: "Roboto", sans-serif;
--font2: "Ubuntu", sans-serif;
--gap:30px;
  
  //colors
  --primary: #4c5866;
  --title-h1: #4c5866;
  --title-h2:#666;
  --title-h3:#666;
  --desc:#4e616d;
  --hover:  #7875fe;
  --focus:#dad9fb;
  --active:#4946b4;
  --bg-color:#fff;
  --border-color:#8b8b8b;
--reg-color:#747474;
}
